body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.logo {
    width: 150px; /* Ajuste conforme necessário */
    border-radius: 50%; /* Arredonda a logo */
}

h1 {
    margin: 10px 0;
}

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.food-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 15px;
    width: 300px; /* Largura fixa para os itens */
    text-align: center;
}

.food-image {
    max-width: 100%; /* Responsividade */
    border-radius: 8px; /* Bordas arredondadas nas imagens */
}

.details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #eee;
}
