/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Cabeçalho e Navegação */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

header .logo {
    width: 150px;
    height: auto;
    display: inline-block;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Estilos do Menu Lateral (Sidebar) */
.menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-lateral a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu-lateral a:hover {
    background-color: #575757;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Seção de Produtos */
#produtos {
    padding: 50px;
    text-align: center;
}

.produto {
    margin: 20px 0;
}

.produto img {
    width: 200px;
    height: auto;
}

.leia-mais {
    display: none;
}

/* Estilos para Relatos */
#relatos {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
}

.relato {
    margin-bottom: 20px;
}

/* Seção de Contato */
#contato {
    background-color: #4CAF50;
    color: white;
    padding: 50px;
    text-align: center;
}

.btn-contato {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-contato:hover {
    background-color: #333;
    color: white;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header {
        text-align: left;
    }
    nav ul {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}
